body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
}

img {
}

.main {
  min-height: 100vh;
  position: relative;
}

.cover {
  object-fit: cover;
  object-position: 50% 50%;
  max-width: 100%;
  min-height: 100vh;
}

.bottom-box {
  background: linear-gradient(180deg, rgba(244,244,244,0) 0%, rgba(0,0,0,1) 100%);
  bottom: 0;
}

.social-media {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  max-height: 80px;
}

.sm {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.top-box {
  background: linear-gradient(0deg, rgba(244,244,244,0) 0%, rgba(0,0,0,1) 100%);
  top: 0;
}

.box {
  position: absolute;
  height: 300px;
  left: 0;
  right: 0;
  padding: 1rem;
}
.sm img {
  width: 50px;
  transition: 0.3s;
}

.sm img:hover {
  transform: scale(1.25) rotate(15deg);
}

.logo {
  max-width: 240px;
}